<!doctype html>
<html lang="en">
    <head>
        <!------------------     Title    ------------------>
        <title>Profile</title>
        <link rel = "icon" href = "/client/static/images/logo-plain.svg" type = "image/x-icon"> 

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <!------------------     Style-Sheet    ------------------>
        <link rel="stylesheet" href="/client/static/css/viewProfile.css">

        <!------------------     Font-Awesome    ------------------>
        <script src="https://kit.fontawesome.com/83715fa62b.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <!------------------     Side-Nav    ------------------>
        <aside>
            <!------------------     Logo    ------------------>
            <img src="../static/images/logo.svg" alt="logo icon">

            <!------------------     Menu    ------------------>
            <h5>CORE FEATURES</h5>

            <nav>
                <ul>
                    <li class="active-btn">
                        <a href="index.html">
                            <span><i class="fas fa-home"></i></span>
                            <span>HOME</span>
                        </a>
                    </li>
                    <li>
                        <a href="charts.html">
                            <span><i class="fas fa-chart-area"></i></span>
                            <span>CHARTS</span>
                        </a>
                    </li>
                    <li>
                        <a href="addPatient.html">
                            <span><i class="fas fa-user-plus"></i></span>
                            <span>ADD PATIENT</span>
                        </a>
                    </li>
                    <li>
                        <a href="addRecord.html">
                            <span><i class="fas fa-folder-plus"></i></span>
                            <span>ADD RECORD</span>
                        </a>
                    </li>
                    <li>
                        <a href="login.html">
                            <span><i class="fas fa-sign-out-alt"></i></span>
                            <span>LOGOUT</span>
                        </a>
                    </li> 
                </ul>
            </nav>     
        </aside>

        <!------------------     Top-Nav    ------------------>
        <header>    
            <nav>
                <ul>
                    <li class="list-left">
                        <span>HOME</span>
                    </li>

                    <li class="list-right">
                        <span> Welcome, <b>USER</b> </span>
                        <span class="user-icon">U</span>
                    </li>
                </ul> 
            </nav>       
        </header>

        <!------------------    Main Content    ------------------> 
        <main>
            <!------------------    Heading    ------------------> 
            <div class="heading">
                <h3>
                    <span id="lastName">
                        LAST
                    </span>
                    <span>,&nbsp;</span>
                    <span id="firstName">
                        First
                    </span>
                </h3>
    
                <h4>
                    <span>
                        Age:&nbsp; 
                    </span>
                    <span id="patientAge">
                        00
                    </span>
                </h4>
            </div>

            <!------------------     Cards    ------------------>
            <div class="container"> </div>
        </main>

        <!------------------     Javascript    ------------------>
        <script type="text/javascript" src="/client/scripts/viewProfile.js"></script> 
    </body>
</html>