@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

$padding-lrg: 20px;
$padding-med: 10px;
$padding-sml: 5px;

$border-lrg: 20px;
$border-med: 15px;
$borders-sml: 10px;

$margin-lrg: 50px;
$margin-med: 25px;
$margin-sml: 5px;

$colors-text: (
    norm-primary: #000000D9,
    norm-secondary: #FFFFFF,
    link-primary: #3AAFA9BF,
    link-secondary: #1667DF,
    cat-accent1: #F92626,
    cat-accent2: #DFD939,
    cat-accent3: #F79E02,
    cat-accent4: #098E87   
);

$colors-background: (
    primary: #F1F3F5,
    secondary: #FFFFFF,
    acc-main: #3AAFA9,
    table-head: #F8F9FA
);

$size-text: (
    ext-lrg: 26px,
    lrg: 22px,
    med: 16px,
    sml: 13px
);

/*          General           */
body, html{
    height: 100vh;
}

/*          Body-Layout           */
body{
    font-family: 'Ubuntu';
    margin: 0;
    display: grid;
    grid-template-columns: auto 85%;
    grid-template-rows: 9% 20% auto;
    grid-template-areas: 
    "sidebar head" 
    "sidebar main" 
    "sidebar main";
}

/*          Aside-SideNav           */
aside{
    grid-area: sidebar;
    background-color: map-get($colors-background, secondary);
    padding: $padding-lrg;
    border-right: 1px solid #00000040;

    h5{
        font-weight: 700;
        font-size: map-get($size-text, sml);
        padding-top: $padding-med;
        color: map-get($colors-text, norm-primary); 
    }
    
    nav{
        ul{
            display:block;
            
            li{
                list-style: none;
                padding: $padding-lrg 0;
            }

            li a{
                font-weight: 700;
                font-size: map-get($size-text, med);
                text-decoration: none;
                color: map-get($colors-text, norm-primary);
            }
        
            li a:hover{
                color: map-get($colors-text, link-primary);
                text-decoration: underline;
            }
        }
    }
}

/*          Header-TopNav           */
header{
    grid-area: head;
    background-color: map-get($colors-background, secondary);
    border-bottom: 1px solid #00000040;

    ul{
        margin: $margin-sml;
        padding: $padding-lrg;
        list-style-type: none;
        overflow: hidden;

        .list-left{
            float: left;
            padding-top: auto;
            padding-top: $padding-sml;
        }

        .list-right{
            float: right;
            padding-top: auto;
            padding-top: $padding-sml;
        }
    
        .user-icon{
            padding-right: $padding-sml;
            padding-left: $padding-sml;
            border-radius: 5px;
            background-color: map-get($colors-background, acc-main);
                    
            font-weight: 700;
            font-size: map-get($size-text, med);
            color: map-get($colors-text, norm-secondary);
        }
    }
}

/*********************** Main ***********************/
main{
    grid-area: main;
    background-color: map-get($colors-background, primary);
    padding: $padding-sml $padding-lrg;
}