@import "base.scss"; 

main{
    h3{
        font-weight: 700;
        font-size: map-get($size-text, lrg);
        color: map-get($colors-text, primary);   
    }

    table{
        width: 100%;

        .head-row {
            font-weight: 700;
            font-size: map-get($size-text, sml);
            padding: $padding-sml;
            background-color: map-get($colors-background, table-head);
        }

        tr{
            text-align: left;    
            td{
                font-weight: 400;
                font-size: map-get($size-text, sml);
                padding: $padding-sml;
                background-color: map-get($colors-background, secondary);
            }
        }
    }
    /*********************** Form ***********************/
    .popup-form{
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 275px;
        border-radius: 5px;
        padding: $padding-lrg;
        font-weight: 600;
        background-color: map-get($colors-background, secondary);
        box-shadow: 0px 6px 18px 0px map-get($colors-background, acc-main);
        display: hidden;
        opacity: 0;
        transition: 0.5s;

        .back-btn{
            cursor: pointer;
            font-weight: 700;
            font-size: map-get($size-text, lrg);
        }
        
        form{
            input:not(:last-child){
                width: 75%;
            }

            #submit{
                height: 35px;
                width: 85px;
                border: none;
                outline: 0;
                border-radius: 5px;
                padding: $padding-med;
                background-color: map-get($colors-background, acc-main);
                        
                font-weight: 700;
                font-size: map-get($size-text, med);
                color: map-get($colors-text, norm-secondary);
    
                cursor: pointer;
                text-align: center;
                float: right;
            }
        }
    }

    .popup-form#popup.active{
        top: 50%;
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
    }

    .main#blur.active{
        filter: blur(20px);
        pointer-events: none;
        user-select: none;
    }
}

