@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

$padding-md: 20px;
$padding-sm: 10px;
$padding-mn: 5px;

$borders-md: 15px;
$borders-sm: 10px;

$colors-text: (
    norm-primary: #000000D9,
    norm-secondary: #FFFFFF,
    link-primary: #3AAFA9BF,
    link-secondary: #1667DF,
    cat-accent1: #F92626,
    cat-accent2: #DFD939,
    cat-accent3: #F79E02,
    cat-accent4: #098E87   
);

$colors-background: (
    primary: #F1F3F5,
    secondary: #FFFFFF,
    acc-main: #3AAFA9,
    acc-sub: #F79E02,
    table-head: #F8F9FA
);

$size-text: (
    lrg: 22px,
    med: 16px,
    sml: 13px
);

/*          General           */
body, html{
    height: 100vh;
}

/*          Body-Layout           */
body{
    font-family: 'Ubuntu';
    margin: 0;
    background-color: map-get($colors-background, secondary);   
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "left right";
}

.right{
    grid-area: right;
    img{
        margin-left: 50%;
        margin-top: 35px;
    }
}

.left{
    grid-area: left;

    h2{
        margin-top: 35px;
        margin-left: 20px;
        margin-right: auto;
    
        font-weight: 700;
        font-size: map-get($size-text, lrg);
        color: map-get($colors-text, primary);   
    }
    
    .form{   
        width: 425px;
    
        form {
            margin-left: 20px;
            margin-right: auto;
            background-color: map-get($colors-background, primary);
            
            -webkit-box-shadow: 0 3px 9px 0 rgb(42, 42, 42);
                    box-shadow: 0 3px 9px 0 rgb(42, 42, 42);
            border-radius: 10px;
    
            .form-group {
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                padding-top: 10px;
                padding-bottom: 10px;
                font-weight: 700;
                font-size: map-get($size-text, sml);

                input{
                    border: 1px solid #00000040;
                    border-radius: 5px;
                    padding: 5px;
                    font-weight: 700;
                    font-size: map-get($size-text, sml);
                    color: map-get($colors-text, norm-primary);
                }
              }
              
            .form-action input {
                height: 35px;
                width: 100%;
                border: 2px solid map-get($colors-background, acc-sub);
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
    
                padding: $padding-sm;
                background-color: map-get($colors-background, acc-sub);
                
                font-weight: 700;
                font-size: map-get($size-text, sml);
                color: map-get($colors-text, norm-secondary);
              
                cursor: pointer;
                }
          }
          
        form:hover {
            -webkit-box-shadow: 0 6px 18px rgb(42, 42, 42);
                    box-shadow: 0 6px 18px rgb(42, 42, 42);
          }
    }
}
