@import "base.scss"; 

main{
    h3{
        font-weight: 700;
        font-size: map-get($size-text, lrg);
        color: map-get($colors-text, primary);   
    }
    
    h5{
        font-weight: 500;
        font-size: map-get($size-text, med);
        color: map-get($colors-text, primary);   
    }

    img{
        height: 250px;
        width: 250px;
        padding: $padding-md 0;
    }

    table{
        width: 100%;
        tr{
            text-align: left;
           
            th{
                font-weight: 700;
                font-size: map-get($size-text, sml);
                padding: $padding-sm;
                background-color: map-get($colors-background, table-head);
            }
    
            td{
                font-weight: 400;
                font-size: map-get($size-text, sml);
                padding: $padding-sm;
                background-color: map-get($colors-background, secondary);
            }
        }
    }
}