{% extends "dashboardBase.html" %}

{% block title%} Home {% endblock %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">{% endblock %}

{% block pageName %} HOME {% endblock %}

{% block main %}
    <!------------------     Table    ------------------>
    <h3>Patients</h3>
    
    {% if patients.count() < 1 %}
        <h5>No Patients Added!</h5>
    
    {% else %}
        <table>
            <!------------------     Heading    ------------------>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date</th>
                <th>Notes</th>
                <th>File Name</th>
                <th>Action</th>
            </tr>

            <!------------------     Body    ------------------>
            {% for patient in patients %}
                <tr>
                    <td>{{ patient.firstName }}</td>
                    <td>{{ patient.lastName }}</td>
                    <td>{{ patient.date }}</td>
                    <td>{{ patient.notes }}</td>
                    <td>{{ patient.fileName }}</td>
                    <td><a href="profile/{{ patient.fileName }}">View Profile</a></td>
                </tr>
            {% endfor %}
        </table>   
    {% endif %}
{% endblock %}