<!DOCTYPE html>
<html lang="en">
  <head>
    <!------------------     Title    ------------------>
    <title>{% block title %} {% endblock %}</title>
    <link rel = "icon" href = "{{ url_for('static', filename='images/logo-plain.svg') }}" type = "image/x-icon"> 

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!------------------     Style-Sheet    ------------------>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <!------------------     Font-Awesome    ------------------>
    <script src="https://kit.fontawesome.com/83715fa62b.js" crossorigin="anonymous"></script>
</head>
<body>

  {% block content %}
 
  {% endblock %}
  
</body>
</html>