{% extends "dashboardBase.html" %}

{% block title%} Upload {% endblock %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='css/update.css') }}">{% endblock %}

{% block pageName %} UPDATE {% endblock %}

{% block main %}
    <!------------------     Form    ------------------>
    <h3>Patient Information</h3>

    <form method="POST" action="/add" enctype= "multipart/form-data">
        <ul>
            <li>
                <p>FIRST NAME:</p>
                <p><input type="text" name="firstName"></p> 
            </li>
            <li>
                <p>LAST NAME:</p>
                <p><input type="text" name="lastName"></p> 
            </li>
            <li>
                <p>NOTES:</p>
                <p><input type="text" name="notes"></p> 
            </li>
        </ul>   
     
        <input type="file" name ="imgFile">

        <!------------------     Submit    ------------------>
        <input id="submit" type="submit" value="SUBMIT">           
    </form>
{% endblock %}