{% extends "dashboardBase.html" %}

{% block title%} Home {% endblock %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='css/viewProfile.css') }}">{% endblock %}

{% block pageName %} PROFILE {% endblock %}

{% block main %}
    <!------------------     Table    ------------------>
    <h3>{{ patient.lastName }}, {{ patient.firstName }}</h3>
    <img src="{{ url_for('file', fileName=patient['fileName'])}}" alt="patient image" style="width:500px;height:450px;">
   
{% endblock %}