{% extends "dashboardBase.html" %}

{% block title%} Home {% endblock %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='css/viewProfile.css') }}">{% endblock %}

{% block pageName %} PROFILE {% endblock %}

{% block main %}
    <h3>Patient Profile</h3>

    <!------------------     Title    ------------------>
    <h5>{{ patient.lastName.upper() }}, {{ patient.firstName }}</h5>
    <h5>{{ patient.date }}</h5> 
    <h5>Age: {{ patient.age }}</h5> 
  
     <!------------------     Image    ------------------>
    <img src="{{ url_for('file', fileName=patient['fileName'])}}" alt="patient image">
   
    <!------------------     Table    ------------------>
    <table>
        <tr>
            <th>Notes</th>
            <th>Actions</th>
        </tr>

        <tr>
            <td>{{ patient.notes }}</td>
            <td>
                <a href="update%{{ patient.firstName }}">Update</a>
                <a href="delete%{{ patient.firstName }}">Delete</a>
            </td>
        </tr>
    </table> 

{% endblock %}